ВЫ ПРОМАХНУЛИСЬ МИМО

@*
@model CreateOrderViewModel
<div>
    <h1>Создание нового заказа</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="CreateOrder" asp-action="Create" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="SenderCity"></label>
                <input asp-for="SenderCity" />
                <span asp-validation-for="SenderCity"></span>
            </div>
            <div>
                <label asp-for="SenderAddress"></label>
                <input asp-for="SenderAddress" />
                <span asp-validation-for="SenderAddress"></span>
            </div>
            <div>
                <label asp-for="RecipientCity"></label>
                <input asp-for="RecipientCity" />
                <span asp-validation-for="RecipientCity"></span>
            </div>
            <div>
                <label asp-for="RecipientAddress"></label>
                <input asp-for="RecipientAddress" />
                <span asp-validation-for="RecipientAddress"></span>
            </div>
             <div>
                <label asp-for="CargoWeight"></label>
                <input asp-for="CargoWeight" />
                <span asp-validation-for="CargoWeight"></span>
            </div>
             <div>
                <label asp-for="DatePickup"></label>
                <input asp-for="DatePickup" />
                <span asp-validation-for="DatePickup"></span>
            </div>
           


            <div>
                <input type="submit" value="Создать новый заказ" />
            </div>
        </form>
    </div>
</div>

                @model ServiceItem
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="Text"></label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <div class="div-box">
                <label asp-for="TitleImagePath"></label>
                <input type="file" name="titleImageFile" id="titleImageFile" />
                <div>
                    <img class="img-block" src="~/images/@Model.TitleImagePath" />
                </div>
            </div>
            <div class="div-box">
                <label asp-for="MetaTitle"></label>
                <input asp-for="MetaTitle" />
                <span asp-validation-for="MetaTitle"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaDescription"></label>
                <input asp-for="MetaDescription" />
                <span asp-validation-for="MetaDescription"></span>
            </div>
            <div class="div-box">
                <label asp-for="MetaKeywords"></label>
                <input asp-for="MetaKeywords" />
                <span asp-validation-for="MetaKeywords"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>
*@