@model DeliveryOrder
@{
    string strTitle = "Создание нового заказа";
    ViewBag.Title = strTitle;
}

<div class="div-box">
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-controller="CreateOrder" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="SenderCity"></label>
                <input asp-for="SenderCity" />
            </div>
            <div>
                <label asp-for="SenderAddress"></label>
                <input asp-for="SenderAddress" />
            </div>
            <div>
                <label asp-for="RecipientCity"></label>
                <input asp-for="RecipientCity" />
            </div>
            <div>
                <label asp-for="RecipientAddress"></label>
                <input asp-for="RecipientAddress" />
            </div>
            <div>
                <label asp-for="CargoWeight"></label>
                <input asp-for="CargoWeight" />
            </div>
            <div>
                <label asp-for="DatePickup"></label>
                <input asp-for="DatePickup" />
            </div>
            <div>
                <input class="myButton" type="submit" value="Создать заказ" />
            </div>
        </form>
    </div>
</div>

