@using DeliveryOrders_3.Service;


<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    <a href="@Config.DeveloperContact">@Config.DeveloperName</a>  | Design: <a href="http://html5up.net">HTML5 UP</a>
                </div>

            </div>
        </div>
    </div>
</div>